@import url(font.min.css);


body
{
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 16px;
    background: url('/images/bg-green.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    overflow-y: scroll;
}

ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
    cursor: pointer;
}

img
{
    max-width: 100%;
}

input:focus
{
    outline: none;
}
/* POPUP ERROR */
#popup
{
    visibility: hidden;
    opacity: 0;
}

    #popup.visible
    {
        visibility: visible;
        opacity: 1;
        background-color: rgba(0,0,0,0.5);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        z-index: 99999999999;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }


.popup-container
{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 50px 20px 20px 20px;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

    .popup-container .message
    {
        border-bottom: 1px solid #ccc;
        text-align: center;
        font-weight: normal;
    }

/*@media (min-width: 768px)
{
    .popup-container
    {
        width: 600px;
    }
}

@media (max-width: 767px)
{
    .popup-container
    {
        width: 100%;
    }
}*/

div.popup-close
{
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

a.popup-close
{
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: rgba(0,0,0,0.4);
    padding: 7px 10px;
    font-size: 20px;
    text-decoration: none;
    line-height: 1;
    color: #fff;
}

/* CART */
.cart
{
    position: fixed;
    top: 104px;
    right: 0;
}

    .cart a
    {
        width: 52px;
        height: 52px;
    }

    .cart img
    {
        background: #f29200;
        padding: 10px 12px;
        border: 1px solid #a3c07b;
        -webkit-border-top-left-radius: 5px;
        border-top-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        border-bottom-left-radius: 5px;
        float: right;
    }

/* SCROLL TO TOP */
#back-top
{
    position: fixed;
    bottom: 60px;
    right: 0;
    z-index: 1;
}

    #back-top a
    {
        float: right;
        margin-right: 20px;
        width: 46px;
        display: block;
        text-align: center;
        text-transform: uppercase;
        color: #bbb;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
    }

    #back-top span
    {
        width: 46px;
        height: 46px;
        display: block;
        margin-bottom: 7px;
        background: url('/images/scroll-to-top.png') no-repeat center center;
        background-position: 0 0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

    #back-top a:hover span
    {
        background-position: 0 -46px;
    }

#_social_fixed
{
    background-color: #a3c07b;
    float: left;
    position: fixed;
    top: 50%;
    left: 15px;
    z-index: 9999;
    border: 1px solid #bcbcbc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

    #_social_fixed .buttonv
    {
        clear: both;
        padding: 5px;
    }

.srh
{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.search-resuft
{
    -moz-box-shadow: 0 0 10px #009f3c;
    -webkit-box-shadow: 0 0 10px #009f3c;
    box-shadow: 0 0 10px #009f3c;
    -webkit-border-bottom-left-radius: 9px;
    border-bottom-left-radius: 9px;
    -webkit-border-bottom-right-radius: 9px;
    border-bottom-right-radius: 9px;
    background: #009f3c;
    color: #fff;
    position: absolute;
    padding: 0;
    padding-bottom: 7px;
    /*left: 923.4375px !important;*/
    top: 127px;
}

    .search-resuft li
    {
        position: relative;
        margin: 0;
        height: 30px;
        line-height: 30px;
        padding: 7px 12px;
    }

        /*.search-resuft li a:hover
        {
            color: #009f3c;
        }*/

        /*.search-resuft li:hover
        {
            background: #009f3c;
            color: #fff;
        }*/

        .search-resuft li a
        {
            color: #fff;
        }

.search-resuft-focus
{
    background: #f29200;
    color: #fff;
}

/* HEADER */
.top-header
{
    border-top: 4px solid #009f3c;
    padding-top: 5px;
}

    .top-header a
    {
        color: #009f3c;
    }

._social
{
    float: left;
    width: calc(100% - 272px);
    line-height: 32px;
}

    ._social li
    {
        padding-right: 0;
        float: left;
        color: #666;
        line-height: 25px;
        margin-right: 8px;
    }

        ._social li:first-child
        {
            padding-left: 0;
        }

        ._social li i
        {
            float: left;
            background-color: #eaeaea;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            position: relative;
            width: 32px;
            height: 32px;
            line-height: 32px;
            /*font-size: 12px;*/
            text-align: center;
            color: #fff;
            cursor: pointer;
            margin-right: 0;
        }

            ._social li i:hover
            {
                background-color: #e77817;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                -webkit-transition: all 1s ease;
                transition: all 1s ease;
                color: #fff;
                -moz-transform: rotateY(360deg);
                -ms-transform: rotateY(360deg);
                -o-transform: rotateY(360deg);
                -webkit-transform: rotateY(360deg);
                transform: rotateY(360deg);
            }

            ._social li i.fa-facebook
            {
                background-color: #537bbd;
            }

            ._social li i.fa-youtube
            {
                background-color: #e9654b;
            }

            ._social li i.fa-linkedin
            {
                background-color: #0077b5;
            }

            ._social li i.fa-google-plus
            {
                background-color: #4c4c4b;
            }

            ._social li i.fa-envelope
            {
                background-color: transparent;
                -moz-transition: none;
                -o-transition: none;
                -webkit-transition: none;
                transition: none;
                -moz-transform: none;
                -ms-transform: none;
                -o-transform: none;
                -webkit-transform: none;
                transform: none;
                color: #666;
                color: #009f3c;
                font-size: 22px;
                margin-right: 8px;
            }

.group_head
{
    float: right;
    width: 272px;
    line-height: 33px;
}

    .group_head li
    {
        float: left;
    }

    .group_head a
    {
        padding: 0 5px;
        border-right: 1px solid #a3c07b;
    }

    .group_head li:last-child a
    {
        border-right: none;
    }

    .group_head i
    {
        margin-right: 5px;
        /*color: #f29200;*/
    }

._user-modal
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, 0.9);
    z-index: 3;
    /*overflow-y: auto;*/
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    -moz-transition: opacity 0.3s, visibility 0.3s;
    -o-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
    color: #333;
    font-size: 16px;
}

    ._user-modal.is-visible
    {
        visibility: visible;
        opacity: 1;
    }

        ._user-modal.is-visible ._user-modal-container
        {
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
        }

._user-modal-container
{
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

    ._user-modal-container ._switcher:after
    {
        content: "";
        display: table;
        clear: both;
    }

    ._user-modal-container ._switcher li
    {
        width: 50%;
        float: left;
        text-align: center;
    }

        ._user-modal-container ._switcher li:first-child a
        {
            -moz-border-radius: .25em 0 0 0;
            -webkit-border-radius: .25em 0 0 0;
            border-radius: .25em 0 0 0;
        }

        ._user-modal-container ._switcher li:last-child a
        {
            -moz-border-radius: 0 .25em 0 0;
            -webkit-border-radius: 0 .25em 0 0;
            border-radius: 0 .25em 0 0;
        }

    ._user-modal-container ._switcher a
    {
        display: block;
        width: 100%;
        height: 50px;
        line-height: 50px;
        background: #d2d8d8;
        color: #809191;
    }

        ._user-modal-container ._switcher a.selected
        {
            background: #FFF;
            color: #505260;
        }

@media only screen and (min-width: 600px)
{
    ._user-modal-container
    {
        margin: 4em auto;
    }

        ._user-modal-container ._switcher a
        {
            height: 70px;
            line-height: 70px;
        }
}

._form
{
    padding: 1.4em;
}

    ._form > p
    {
        position: relative;
        margin: 1.4em 0;
    }

        ._form > p:first-child
        {
            margin-top: 0;
        }

        ._form > p:last-child
        {
            margin-bottom: 0;
        }

    ._form input[type=text], ._form input[type=email], ._form input[type=password]
    {
        padding: 16px 0;
        border: 1px solid #a3c07b;
        color: #333;
        width: 100%;
        margin: 0;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        text-indent: 50px;
    }

    ._form input[type=submit]
    {
        padding: 16px 0;
        cursor: pointer;
        background: #009f3c;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        border: none;
        width: 100%;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

    ._form ._lbl_user i
    {
        display: inline-block;
        position: absolute;
        left: 13px;
        top: 27%;
        bottom: auto;
        /*overflow: hidden;*/
        white-space: nowrap;
        color: #009f3c;
        text-shadow: none;
        font-size: 22px;
    }


    ._form .hide-password
    {
        display: inline-block;
        position: absolute;
        right: 0;
        padding: 6px 15px;
        border-left: 1px solid #a3c07b;
        top: 48%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    ._form ._error-message
    {
        display: inline-block;
        position: absolute;
        left: -5px;
        bottom: -35px;
        background: rgba(215, 102, 102, 0.9);
        padding: .8em;
        z-index: 2;
        color: #FFF;
        -moz-border-radius: 0.25em;
        -webkit-border-radius: 0.25em;
        border-radius: 0.25em;
        /* prevent click and touch events */
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
        -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
        -o-transition: opacity 0.2s 0, visibility 0 0.2s;
        transition: opacity 0.2s 0, visibility 0 0.2s;
    }

        ._form ._error-message::after
        {
            /* triangle */
            content: '';
            position: absolute;
            left: 22px;
            bottom: 100%;
            height: 0;
            width: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid rgba(215, 102, 102, 0.9);
        }

        ._form ._error-message.is-visible
        {
            opacity: 1;
            visibility: visible;
            -webkit-transition: opacity 0.2s 0, visibility 0 0;
            -moz-transition: opacity 0.2s 0, visibility 0 0;
            -o-transition: opacity 0.2s 0, visibility 0 0;
            transition: opacity 0.2s 0, visibility 0 0;
        }

@media only screen and (min-width: 600px)
{
    ._form
    {
        padding: 2em;
    }

        ._form > p
        {
            margin: 2em 0;
        }

            ._form > p:first-child
            {
                margin-top: 0;
            }

            ._form > p:last-child
            {
                margin-bottom: 0;
            }

        ._form input.has-padding
        {
            padding: 16px 20px 16px 50px;
        }

        ._form input[type=submit]
        {
            padding: 16px 0;
        }
}

._form-message
{
    padding: 1.4em 1.4em 0;
    line-height: 1.4;
    text-align: center;
}

@media only screen and (min-width: 600px)
{
    ._form-message
    {
        padding: 2em 2em 0;
    }
}

._form-bottom-message
{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -40px;
    text-align: center;
}

    ._form-bottom-message a
    {
        color: #FFF;
        text-decoration: underline;
    }

._close-form
{
    /* form X button on top right */
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: -40px;
    white-space: nowrap;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    color: #fff !important;
}

@media only screen and (min-width: 1170px)
{
    ._close-form
    {
        display: none;
    }
}

#_login, #_signup, #_reset-password
{
    display: none;
}

    #_login.is-selected, #_signup.is-selected, #_reset-password.is-selected
    {
        display: block;
    }

.header
{
    padding: 15px 0;
    width: 180px;
    float: left;
}

    .header img
    {
        float: left;
    }

    .header div
    {
        float: left;
        padding: 0;
        line-height: 25px;
        color: #f29200;
    }

        .header div a
        {
            color: #f29200;
        }

/* SUPPORT ICON */

.lsupport .item .payment-icon,
.lsupport .item .hotline-icon,
.lsupport .item .shipping-icon
{
    background-color: rgba(0, 0, 0, 0.15);
    background-position: center center;
    background-repeat: no-repeat;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    height: 50px;
    left: -51px;
    position: absolute;
    top: -1px;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    width: 40px;
    text-align: center;
    line-height: 50px;
    padding: 0px 5px;
    color: #fff;
    font-size: 25px;
}

.lsupport .item .payment:hover .payment-icon,
.lsupport .item .shipping:hover .shipping-icon,
.lsupport .item .hotline:hover .hotline-icon
{
    background-color: #009f3c;
}

.lsupport .item .payment,
.lsupport .item .hotline,
.lsupport .item .shipping
{
    background-color: #fff;
    border: 1px solid #f5f5f5;
    position: fixed;
    z-index: 7;
}

.lsupport .item .payment
{
    right: -138px;
    top: 150px;
    width: 180px;
}

.lsupport .item .hotline
{
    right: -248px;
    top: 320px;
    width: 246px;
}

.lsupport .item .shipping
{
    right: -138px;
    top: 235px;
    width: 136px;
}

.lsupport .item .payment-content,
.lsupport .item .hotline-content,
.lsupport .item .shipping-content
{
    padding: 0 5px;
    line-height: 50px;
}

.lsupport .item .hotline-content
{
    line-height: 3px;
}

._hotline
{
    font-size: 16px;
    text-align: left;
    margin: 1em 0;
}

    ._hotline span
    {
        color: #e33c34;
    }

.hotline-mr
{
    font-size: 16px;
    text-align: left;
}

    .hotline-mr span
    {
        font-size: 16px;
        color: #727272;
    }

.shipping-content p,
.payment-content p
{
    margin: 5px 0px;
}

.lsupport .item ._payment, .lsupport .item ._shipping
{
    display: block;
    /*height: 24px;*/
    color: #727272;
}

.lsupport .item .payment-icon img, .lsupport .item .shipping-icon img, .lsupport .item .hotline-icon img
{
    width: 100%;
}

/* MENU TOP */
.menu
{
    /*background: #009f3c;*/
    padding: 30px 0;
    width: calc(100% - 180px);
    float: left;
}

.toggleMenu
{
    display: none;
    background: #009f3c;
    padding: 10px 15px;
    width: 24px;
}

    .toggleMenu:hover, .toggleMenu:focus, .toggleMenu:active
    {
        /*color: #fff;*/
    }

    .toggleMenu > span
    {
        display: block;
        margin: 3px 0;
        height: 2px;
        background: #fff;
        width: 24px;
    }

#nav, #nav ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: outside;
    position: relative;
    line-height: 1.5em;
    width: 100%;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

    #nav > li > a
    {
        text-transform: uppercase;
        padding: 0 10px;
        line-height: 37px;
        display: block;
    }

    #nav a
    {
        /*color: #fff;*/
    }

    #nav li
    {
        float: left;
        position: relative;
        /*padding: 10px;*/
        /*background: #009f3c;*/
        /*line-height: 20px;
        height: 20px;*/
    }

        #nav li:hover a, #nav li.active a
        {
            background: #009f3c;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -webkit-transition: all 1s ease;
            transition: all 1s ease;
            color: #fff;
        }

    #nav > li:first-child:hover
    {
        /*width: 192px;*/
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        -webkit-transition: all 2s ease;
        transition: all 2s ease;
    }

    #nav ul
    {
        position: absolute;
        display: none;
        width: 191px;
        top: 2.5em;
        left: 0;
    }

    #nav li ul a
    {
        width: 192px;
        height: auto;
        float: left;
    }

    #nav li ul .has-sub > a::after
    {
        position: absolute;
        top: 18px;
        right: 10px;
        width: 4px;
        height: 4px;
        border-bottom: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        content: "";
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition: border-color 0.2s ease;
        -moz-transition: border-color 0.2s ease;
        -o-transition: border-color 0.2s ease;
        transition: border-color 0.2s ease;
    }

    #nav ul ul
    {
        top: 0;
    }

    #nav li ul ul
    {
        left: 13.2em;
    }

    #nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul
    {
        display: none;
    }

    #nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul
    {
        display: block;
    }

    /*#nav li:first-child
    {
        display: none;
    }*/

    #nav li:last-child
    {
        float: right;
    }

.menufx
{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 6;
    padding: 0;
    top: 0;
    background-color: #009f3c;
    width: 100%;
    -webkit-box-shadow: 0 0 10px #009f3c;
    -moz-box-shadow: 0 0 10px #009f3c;
    box-shadow: 0 0 10px #009f3c;
    -moz-transition: width 0.9ms ease;
    -o-transition: width 0.9ms ease;
    -webkit-transition: width 0.9ms ease;
    transition: width 0.9ms ease;
}

    .menufx a
    {
        color: #fff;
    }

    .menufx #nav li:hover a, .menufx #nav li.active a
    {
        background-color: #f29200;
    }

.search
{
    float: right;
    width: 100%;
    height: 29px;
    background-color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 3px;
    /*margin-right: 4px;*/
    border: 1px solid #a3c07b;
}

.search-text
{
    color: #009f3c;
    border: 0;
    outline: none;
    height: 27px;
    margin: 0 2%;
    /*width: 200px;*/
    width: calc(100% - 35px);
    float: left;
    margin-right: 0;
    margin-left: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding-left: 5px;
    /*min-width: 350px;*/
    min-width: 200px;
}

.search-button
{
    background: url('/images/icons/search_25x25.png') no-repeat;
    border: 0;
    outline: none;
    height: 25px;
    width: 25px;
    float: left;
    margin-top: 2px;
    margin-right: 5px;
    cursor: pointer;
}
/* MENU LEFT */
#content
{
    display: block;
    width: 100%;
    /*margin-top: 2%;*/
    float: left;
}

.box-inner
{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px #009f3c;
    -moz-box-shadow: 0 0 10px #009f3c;
    box-shadow: 0 0 10px #009f3c;
    margin-bottom: 5%;
}

.content-left, .content-right
{
    width: 23%;
    float: left;
}

#new-product
{
    padding: 0;
    margin: 0;
}

    #new-product li
    {
        display: none;
    }

        #new-product li:nth-of-type(1), #new-product li:nth-of-type(2)
        {
            display: block;
        }

#hl-product
{
    padding: 0;
    margin: 0;
    padding-bottom: 1px;
}

.load
{
    height: 50px;
    margin: 0 3.5px;
    background: #fff;
}

    .load div
    {
        color: #fff;
        cursor: pointer;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-color: #009f3c;
        float: left;
        width: 100px;
        margin: 5px;
        height: 30px;
        text-align: center;
        line-height: 30px;
    }

    .load #showLess
    {
        float: right;
    }

    .load span
    {
        display: block;
    }

    .load i
    {
        display: none;
    }

#new-product .item, #hl-product .item
{
    border-bottom: 1px solid #eaeaea;
    width: 100% !important;
    position: relative;
}

    #new-product .item img, #hl-product .item img
    {
        width: 74%;
        margin-top: 10px;
        background: #fff url('/images/bg-img.png') repeat;
    }

    #new-product .item p, #hl-product .item p
    {
        color: #f29200;
        font-weight: normal;
        text-align: center;
        padding: 6px;
        margin: 0;
    }

    #new-product .item a, #hl-product .item a
    {
        font-weight: 600;
        color: #009f3c;
    }


.sale, .new_pr
{
    font-size: 14px;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 20%;
    margin-left: -20px;
    background-color: #4bae4f;
    color: #FFF;
    line-height: 19px;
    padding: 0 7px;
    z-index: 1;
    text-transform: uppercase;
    -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.17);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.17);
}

    .sale:before, .new_pr:before
    {
        content: '';
        display: block;
        border-top-color: #4bae4f;
        bottom: -3px;
        left: 50%;
        margin-left: -3px;
        height: 3px;
        position: absolute;
        width: 5px;
    }

.sale
{
    background-color: #f00;
    /*top: 25px;
    margin-left: 0;
    left: 20px;*/
}

.new_pr
{
    background-color: #84c225;
}

.btn_price
{
    background: #009f3c;
    padding: 0;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-weight: 600;
    text-transform: uppercase;
}

    .btn_price strong
    {
        font-size: 24px;
        padding-left: 10px;
        line-height: 37px;
        color: #fff;
        padding-right: 10px;
        background-color: #F29200;
        display: inline-block;
        float: left;
        -moz-border-radius: 4px 0 0 4px;
        -webkit-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
    }

.sub-cate
{
    width: 100%;
    /*margin: 0 2em 0 0;*/
    float: left;
}

h3.cate, div.cate
{
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    padding: 12px;
    background: #009f3c;
    margin: 0;
    border-bottom: 1px solid #a3c07b;
}

    h3.cate a, div.cate a
    {
        color: #fff;
    }

.nav-scroll
{
    float: right;
}

.cate h3
{
    text-transform: uppercase;
    color: #fff;
    margin: 0;
}

/* CONTENT MAIN */
.contain-main
{
    width: calc(77% - 15px);
    margin-left: 15px;
    float: left;
}

.title-head
{
    text-transform: uppercase;
    color: #fff;
    padding: 15px 0;
    background: #009f3c;
    margin: 0;
    border-bottom: 1px solid #a3c07b;
}

    .title-head > div:first-child
    {
        width: 68%;
        float: left;
    }

    .title-head h3
    {
        margin: 0;
        margin-left: 15px;
    }

.form_sort
{
    margin-top: 3px;
    width: calc(32% - 15px);
    float: left;
    margin-right: 15px;
}

    .form_sort span
    {
        color: #fff;
        font-weight: 600;
    }

    .form_sort select
    {
    }

.view-all
{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    float: right;
    padding: 0.4em 0.6em;
}

.tt-ct-main
{
    width: 98%;
    margin: auto 1%;
    float: left;
}

.tt-ct
{
    border-bottom: 2px solid #009f3c;
}

    .tt-ct > div:first-child
    {
        float: left;
        color: #f29200;
        font-weight: normal;
    }

    .tt-ct > div
    {
        float: right;
    }

    .tt-ct a
    {
        color: #f29200;
        font-weight: 400;
        font-style: italic;
    }

        .tt-ct a > span
        {
            font-style: normal;
            font-weight: 600;
            text-transform: uppercase;
            /*padding-left: 10px;*/
        }

._img_content
{
    width: 95%;
}

/* PRODUCTS */
.he-view
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    visibility: hidden;
}

    .he-view i
    {
        margin-right: 5px;
    }

.he-view-show
{
    visibility: visible;
}

.a0, .a1, .a2
{
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .6s;
    -moz-animation-duration: .6s;
    -o-animation-duration: .6s;
    animation-duration: .6s;
}

.a1
{
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -o-animation-delay: .2s;
    animation-delay: .2s;
}

.a2
{
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -o-animation-delay: .4s;
    animation-delay: .4s;
}

._prd
{
    position: relative;
    padding: 0;
    margin: 0;
    display: block;
    border-bottom: 1px solid #f5f5f5;
}

    ._prd .bg
    {
        height: 100%;
        width: 100%;
        background-color: #444;
        background-color: rgba(0,0,0,.5);
        text-align: center;
    }

    ._prd h3
    {
        background-color: #000;
        background: rgba(0,0,0,.4);
        color: #fff;
        margin: 0;
        padding: 10px;
        font-size: 14px;
        text-transform: uppercase;
    }

    ._prd .btn
    {
        border-top: 1px solid #f29200;
        display: inline-block;
        padding: 5px 2px;
        background: #000;
        background: rgba(0,0,0,.4);
        text-decoration: none;
        margin: 55px 5px 0 5px;
        color: #fff !important;
        font-size: 12px;
        text-transform: uppercase;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        min-width: 30%;
        width: 38%;
    }

        ._prd .btn:hover
        {
            color: #fff !important;
        }

        ._prd .btn span
        {
            color: #fff;
            padding: 0 2px;
            font-weight: bold;
            border: none !important;
        }

            ._prd .btn span a
            {
                color: #fff;
            }



/* ABOUT US */
.about
{
}

    .about a
    {
        font-weight: 600;
        color: #009f3c;
    }

/* PRODUCTS */
.list-prd
{
    padding: 0;
    margin: 0;
}

    .list-prd .item
    {
        /*padding: 10px 0;*/
        padding-top: 10px;
        padding-bottom: 10px;
    }

        .list-prd .item > div
        {
            width: 95%;
            /*box-shadow: 0 0 1px #a3c07b;*/
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            margin: 0 2.5%;
        }

            .list-prd .item > div > div
            {
                /*border-top: 1px solid #eaeaea;*/
            }

        .list-prd .item img
        {
            /*width: 172px;
            height: 172px;*/
            width: 90%;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            /*box-shadow: 0 0 1px #a3c07b;*/
            margin-top: 10px;
            background: #fff url('/images/bg-img.png') repeat;
        }

        .list-prd .item p
        {
            text-align: center;
            color: #f29200;
            font-weight: 600;
            margin: 0;
            padding: 10px 0;
        }

            .list-prd .item p:first-child
            {
                height: 37px;
            }

            .list-prd .item p a
            {
                font-weight: normal;
                color: #009f3c;
            }
/* NEWS */
.news
{
    border-bottom: 1px dashed #ddd;
    margin-bottom: 10px;
    margin-top: 10px;
}

    .news .news-img
    {
        text-align: center;
        width: 20% !important;
    }

        .news .news-img img
        {
            /*width: 18% !important;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;*/
            background: #fff url('/images/bg-img.png') repeat;
            margin-top: 0;
            width: 100px;
        }

    .news .sumary-ct
    {
        color: #333;
        margin-top: 20px;
        text-align: justify;
        margin-right: 10px;
    }

    .news .new-ct
    {
        text-align: justify;
    }

    .news > div > div:last-child
    {
        width: 80%;
    }

.contain-main.contact
{
    margin-left: 0;
    margin-right: 15px;
}

._info_contact
{
    padding: 10px;
    color: #000;
}

    ._info_contact ._name_company
    {
        font-size: 28px;
        color: #009f3c;
        margin: 0;
    }

    ._info_contact div
    {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    ._info_contact i
    {
        font-size: 16px;
        width: 16px;
        color: #009f3c;
    }

.map img
{
    width: 98%;
}

.ic-contact
{
    border: 1px solid #b6c7cb;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
}

.ic-user
{
    background: #f3f6f7 url('/images/contact/user_30x30.png') no-repeat;
}

.ic-email
{
    background: #f3f6f7 url('/images/contact/email_30x30.png') no-repeat;
}

.ic-phone
{
    background: #f3f6f7 url('/images/contact/phone_30x30.png') no-repeat;
}

.ic-address
{
    background: #f3f6f7 url('/images/contact/address_30x30.png') no-repeat;
}

.ic-title
{
    background: #f3f6f7 url('/images/contact/title_30x30.png') no-repeat;
}

.info
{
    color: #009f3c;
    width: 98%;
    margin: 0 auto;
}

.contact-form input[type='text']
{
    color: #666666;
    border: none;
    background: #f3f6f7;
    width: calc(100% - 60px);
    height: 31px;
    padding: 0 5px;
    margin-left: 30px;
    outline: none;
}

.contact-form textarea
{
    color: #666;
    border: 1px solid #b6c7cb;
    background: #f3f6f7;
    width: calc(100% - 8px);
    max-width: calc(100% - 8px);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 1%;
    outline: none;
}

.contact-form input[type='submit'], [type='reset']
{
    border: 1px solid #447402;
    background: #009f3c;
    width: 110px;
    height: 31px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    color: #fff;
    font-weight: 600;
    border-bottom: 3px solid #447402;
    cursor: pointer;
    margin-bottom: 2%;
}

.contact-form .error-message
{
    line-height: 31px;
    margin-right: 4px;
    color: #009f3c;
}

    .contact-form .error-message .err
    {
        color: #f29200;
    }

.send-mail-success
{
    color: #f29200;
    text-align: center;
    font-weight: 600;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    line-height: 25px;
}
/* FOOTER */
#footer
{
    margin-top: 15px;
    color: #fff;
}

    #footer a
    {
        color: #a3c07B;
    }

    #footer .footer-site, #footer .footer
    {
        width: 100%;
        float: left;
        padding: 18px 0;
    }

    #footer .footer-site
    {
        background-color: #009f3c;
        border-top: 4px solid #a3c07b;
    }

    #footer .categogy a
    {
        text-transform: uppercase;
    }

    #footer .footer-site ._social
    {
        width: 100%;
    }

        #footer .footer-site ._social li i
        {
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 23px;
        }

    #footer .footer-site .slogan img
    {
        /*padding: 10px;
        background: #fff url('/images/bg-img.png') repeat;*/
    }

    #footer .footer-site .infor
    {
        line-height: 28px;
    }

        #footer .footer-site .infor i
        {
            width: 30px;
            font-size: 23px;
        }

    #footer .footer-site .col4 > div
    {
        margin-left: 8px;
        margin-right: 8px;
    }

    #footer .footer-site .col4:first-child > div
    {
        margin-left: 0;
    }

    #footer .footer-site .col4:last-child > div
    {
        margin-right: 0;
    }

    #footer .footer-site .cate
    {
        padding-left: 0;
        padding-bottom: 5px;
        margin-bottom: 10px;
        font-size: 22px;
    }

    #footer .footer
    {
        text-align: center;
        background-color: #a3c07b;
        padding: 5px 0;
    }

        #footer .footer .author
        {
            text-decoration: underline;
            color: #009f3c;
        }
/*#footer p
    {
        margin: 1px 0;
        color: #009f3c;
    }

        #footer p a
        {
            color: #0768B2;
            font-weight: 600;
        }

        #footer p span
        {
            font-weight: 600;
        }

.copyright
{
    color: #009f3c;
    text-align: center;
    float: right;
    margin-top: 40px;
}

    .copyright a
    {
        color: #0768B2;
        font-weight: 600;
    }*/


.contain-main.pay_method
{
    margin-left: 0;
    width: 100%;
}
/* cols */
.col1
{
    width: 8.333333333333332%;
    float: left;
}

.col2
{
    width: 16.666666666666664%;
    float: left;
}

.col3
{
    width: 25%;
    float: left;
}

.col4
{
    width: 33.33333333333333%;
    float: left;
}

.col5
{
    width: 41.66666666666667%;
    float: left;
}

.col6
{
    width: 50%;
    float: left;
}

.col7
{
    width: 58.333333333333336%;
    float: left;
}

.col8
{
    width: 66.66666666666666%;
    float: left;
}

.col9
{
    width: 75%;
    float: left;
}

.col10
{
    width: 83.33333333333334%;
    float: left;
}

.col11
{
    width: 91.66666666666666%;
    float: left;
}

.col12
{
    width: 100%;
    float: left;
}

/*.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12
{
    padding-left: 10px;
    padding-right: 10px;
}*/

.mainpage
{
    width: 95%;
    margin: 0 auto;
}

@media (max-width:1600px)
{
    .mainpage, .menufx #nav
    {
        width: 75%;
        margin: 0 auto;
    }
}

@media (max-width:1366px)
{
    .mainpage, .menufx #nav
    {
        width: 80%;
        margin: 0 auto;
    }
}

@media (max-width:1024px)
{
    .mainpage, .menufx #nav
    {
        width: 95%;
        margin: 0 auto;
    }

    ._prd ._cart, ._prd ._detail
    {
        display: none;
    }

    .load div
    {
        width: 50px !important;
        margin: 5px 0 5px 34px !important;
    }

    .load span
    {
        display: none !important;
    }

    .load i
    {
        display: block !important;
        margin: 0 auto !important;
        line-height: 32px;
        font-size: 22px;
    }
}

@media (min-width: 930px)
{
    .menu
    {
        max-width: 100% !important;
    }
}

@media (max-width: 929px)
{
    .content-left, .content-right
    {
        display: none;
    }

    .contain-main
    {
        width: 100% !important;
        margin-left: 0 !important;
    }

    .col3.header
    {
        display: none;
    }

        .col3.header:first-child
        {
            display: block;
        }

    #nav li
    {
        width: 100%;
    }

    #nav > li > a
    {
        padding: 0 !important;
        text-align: center;
    }

    .search
    {
        width: calc(100% - 8px) !important;
    }
}

@media (max-width: 786px)
{
    .col1, .col2, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11
    {
        width: 50% !important;
    }
}

@media (max-width: 400px)
{
    .col1, .col2, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11
    {
        width: 100% !important;
    }
}

._lib-al-c
{
    text-align: center !important;
}

._lib-bg-w
{
    background: #fff !important;
}

._lib-fl-r
{
    float: right !important;
}

._lib-fl-l
{
    float: left !important;
}

._lib-fw-6
{
    font-weight: 600 !important;
}

._lib-bd-bt-none
{
    border-bottom: none !important;
}

._lib-mg-10
{
    margin: 10px !important;
}

._lib-mg-l-10
{
    margin-left: 10px !important;
}

._lib-mg-r-10
{
    margin-right: 10px !important;
}

._lib-mg-t-10
{
    margin-top: 10px !important;
}

._lib-mg-bt-10
{
    margin-bottom: 10px !important;
}

._lib-tx-sup
{
    vertical-align: super !important;
    font-size: 10px !important;
}

._lib-tx-upper
{
    text-transform: uppercase !important;
}

._lib-tx-underline
{
    text-decoration: underline !important;
}

._lib-tx-center
{
    text-align: center !important;
}

._lib-tx-justify
{
    text-align: justify !important;
}

._lib-tx-italic
{
    font-style: italic !important;
}

.lib_cl-gray17
{
    color: #111 !important;
}