#wrapper
{
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled
{
	padding-left: 210px;
}

#sidebar-wrapper
{
	z-index: 1000;
	position: fixed;
	left: 210px;
	width: 0;
	height: 100%;
	margin-left: -210px;
	overflow-y: auto;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper
{
	width: 250px;
}

#page-content-wrapper
{
	width: 100%;
	position: absolute;
	padding: 15px;
}

#wrapper.toggled #page-content-wrapper
{
	position: absolute;
	margin-right: -250px;
}

.sidebar-nav
{
	position: absolute;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 30px !important;
}

.sidebar-nav li a
{
	display: block;
	text-decoration: none;
}

.sidebar-nav li a:hover
{
	text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus
{
	text-decoration: none;
}

	

.sidebar-nav > .sidebar-brand a
{
	color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover
{
	color: #fff;
	background: none;
}

/*Left sidebar*/
#sidebarbg
{
	left: 0;
	z-index: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	border-right: 1px solid #d9d9d9;
	background: url(./images/bg_menuleft.png) repeat;
	width: 211px;
}

#sidebarbg.hided
{
	margin-left: -299px;
}

#sidebar
{
	width: 210px;
	padding-top: 67px;
	float: left;
	z-index: 1;
	position: relative;
	-webkit-transition: margin ease-in-out 0.1s;
	-moz-transition: margin ease-in-out 0.1s;
	-o-transition: margin ease-in-out 0.1s;
	transition: margin ease-in-out 0.1s;
}

#sidebar.hided
{
	margin-left: -299px;
}

#sidebar.fixed
{
	position: fixed;
	padding-top: 0;
	margin-top: 67px;
}

#sidebar .shortcuts, #sidebar-right .shortcuts
{
	border-bottom: 1px solid #c4c4c4;
	background: rgb(255,255,255);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 1%, rgba(243,243,243,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
	background: linear-gradient(top, rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
	position: relative;
	-moz-box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
	box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
	height: auto;
	width: 100%;
	padding-bottom: 2px;
	padding-top: 5px;
	float: left;
}

/*Right sidebar*/
#sidebarbg-right
{
	right: 0;
	z-index: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	border-left: 1px solid #d9d9d9;
	background: url('images/patterns/2.png') repeat;
	width: 211px;
}

#sidebarbg-right.hided
{
	margin-right: -299px;
}

#sidebar-right
{
	width: 210px;
	padding-top: 67px;
	float: right;
	z-index: 1;
	position: relative;
	-webkit-transition: margin ease-in-out 0.1s;
	-moz-transition: margin ease-in-out 0.1s;
	-o-transition: margin ease-in-out 0.1s;
	transition: margin ease-in-out 0.1s;
}

#sidebar-right.hided
{
	margin-right: -299px;
}


.sidenav
{
	float: left;
	width: 100%;
	margin-left: 0;
}

#sidebar-right .sidenav
{
	margin-left: 0px;
}

.mainnav ul
{
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.mainnav li
{
	display: block;
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	/*border-right:1px solid #d9d9d9;*/
}
	
	.mainnav li a
	{
		border-bottom: 1px solid #c4c4c4;
		border-top: 1px solid #FFFFFF;
		color: #2C7282;
		padding: 10px 5px;
	}

		.mainnav li a:hover
		{
			text-decoration: none;
			background: rgb(255,255,255);
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top, rgba(255,255,255,1) 1%, rgba(243,243,243,1) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1)));
			background: -webkit-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
			background: -o-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
			background: -ms-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
			background: linear-gradient(top, rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
			color: #FF4100;
		}

.mainnav ul li .nav-stacked
{
	display: none;
	float: left;
	background: rgb(255,255,255);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 1%, rgba(243,243,243,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
	background: linear-gradient(top, rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
	margin-top: 0px;
	width: 100%;
}
.mainnav ul li li
{
	border-right:none;
}
.mainnav ul.nav-stacked ul li a
{
	font-size: 13px;
	border-bottom: 1px solid transparent;
	box-shadow: none;
	border-top: 1px solid transparent;
	padding-left: 20px;
}
.mainnav ul.nav-stacked li:first-child a.current
{
	border-top: none;
}

.mainnav ul.nav-stacked li ul li:last-child
{
	border-bottom: 1px solid #c4c4c4;
	-moz-box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
	box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
}

.mainnav ul.nav-stacked li a:hover
{
	background: #257EB6;
	color: #FFFFFF;
}

.mainnav ul.nav-stacked li
{
	width: 100%;
}

	.mainnav ul.nav-stacked li:first-child a:hover
	{
		border-top: 1px solid transparent;
	}

	.mainnav ul.nav-stacked li:last-child a:hover
	{
		border-top: 1px solid #dfdfdf;
		border-bottom: 1px solid transparent;
	}

.mainnav ul li .sub a span[class*=" icon-"], .mainnav ul li .sub a span[class*=" brocco-icon-"], .mainnav ul li .sub a span[class*=" cut-icon-"], .mainnav ul li .sub a span[class*=" entypo-icon-"], .mainnav ul li .sub a span[class*=" icomoon-icon-"], .mainnav ul li .sub a span[class*=" minia-icon-"], .mainnav ul li .sub a span[class*=" iconic-icon-"], .mainnav ul li .sub a span[class*=" meteo-icon-"], .mainnav ul li .sub a span[class*=" silk-icon-"], .mainnav ul li .sub a span[class*=" typ-icon-"], .mainnav ul li .sub a span[class*=" wpzoom-"], .mainnav ul li .sub a span[class*=" eco-"]
{
	padding-left: 25px;
	padding-right: 10px;
}

.mainnav ul li .sub li .sub a span[class*=" icon-"], .mainnav ul li .sub li .sub a span[class*=" brocco-icon-"], .mainnav ul li .sub li .sub a span[class*=" cut-icon-"], .mainnav ul li .sub li .sub a span[class*=" entypo-icon-"], .mainnav ul li .sub li .sub a span[class*=" icomoon-icon-"], .mainnav ul li .sub li .sub a span[class*=" minia-icon-"], .mainnav ul li .sub li .sub a span[class*=" iconic-icon-"], .mainnav ul li .sub li .sub a span[class*=" meteo-icon-"], .mainnav ul li .sub li .sub a span[class*=" silk-icon-"], .mainnav ul li .sub li .sub a span[class*=" typ-icon-"], .mainnav ul li .sub li .sub a span[class*=" wpzoom-"], .mainnav ul li .sub li .sub a span[class*=" eco-"]
{
	padding-left: 35px;
	padding-right: 10px;
}

.mainnav .hasDrop
{
	position: absolute;
	right: 0;
	top: 0;
	padding-right: 0 !important;
}

.mainnav ul li .sub li .sub
{
	width: 100%;
}

	.mainnav ul li .sub li .sub li:first-child a
	{
		border-top: 1px solid #c4c4c4;
	}

	.mainnav ul li .sub li .sub li a:hover
	{
		border-bottom: 1px solid #dfdfdf;
	}

.mainnav ul li .sub li a.hasUl.drop
{
	border-top: 1px solid #dfdfdf;
}


/*Widget panel style*/

#content
{
	padding: 67px 0px 25px 15px;
	margin-left: 212px;
	padding-top: 10px;
	min-height: 100%;
	/*background: url('images/patterns/5.png') repeat;*/
	-webkit-transition: margin ease-in-out 0.1s;
	-moz-transition: margin ease-in-out 0.1s;
	-o-transition: margin ease-in-out 0.1s;
	transition: margin ease-in-out 0.1s;
}

#content.hided
{
	margin-left: 0;
}

#content.hided-right
{
	margin-right: 0;
}

#content-noside
{
	padding: 67px 25px 25px 25px;
	min-height: 100%;
	/*background: url('images/patterns/5.png') repeat;*/
}
@media only screen and (max-width: 769px)
{
	#menu-toggle{display:none}
	#sidebarbg{width:0}
	#sidebar{ position: absolute; width:100%}
	#content
	{
		margin-left:0
	}
	#sidebar.hided,#sidebarbg.hided{margin-left:0}
	.nav-sm{border-bottom: 1px solid #d9d9d9; margin-bottom: 0; padding-bottom: 0;}
	.mainnav ul.nav-stacked li a:hover
	{
		color: #FF4100;
	}
}